<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules ="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%JRUBY_HOME%\bin\jruby.exe" arguments="-S rackup -p %HTTP_PLATFORM_PORT%"
      startupTimeLimit="300" stdoutLogEnabled="true" stdoutLogFile=".\log\rails-server.log">
      <environmentVariables>
        <environmentVariable name="RACK_ENV" value="production" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
